.header {
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 100;
    align-items: center;
    height: 30px;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}



.header__netflix {
    position: fixed;
    left: 20px;
    object-fit: contain;
    width: 80px;
}

.header__user {
    position: fixed;
    right: 20px;
    object-fit: contain;
    width: 30px;
}

.header__balck {
    background-color: #111;
}

